<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scratch Card</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon//favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon//favicon-16x16.png">
    <link rel="manifest" href="/favicon//site.webmanifest">

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="button-container">
        <% categories.forEach(function(category) { %>
            <button class="btn" data-id="<%= category %>"><%= category %></button>
        <% }); %>
            <button class="btn" data-id="all">All</button>
    </div>
    <div id="spinner-wrapper">
        <div class="spinner"></div>
    </div>      
    <main></main>
    <div class="scratch-container" id="scratchTemplate">
        <h3 class="scratch-card__title">Scratch Card To Reveal</h3>
        <div class="scratch-card">
            <div class="scratch-card__overlay">
            </div>
            <div class="scratch-card__content">
                <div class="scratch-card__img">
                    <div class="scratch-card__code">Select A Category</div>
                </div>
            </div>
        </div>
        <h4 class="scratch-card__category">Category</h4>
    </div>

    <script src="/js/index.js"></script>
</body>
</html>